<!-- 1 : WELCOME ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<div id="accueil">
  <%= render "shared/home-page" %>
</div>


<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 2 : Présentation & Descriptif ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

<div id="page2-A" class="ml-16 flex mb-36">
  <%= render "shared/presentation" %>
</div>

<div id="page2-B" class="ml-16 flex mb-36">
  <%= render "shared/descriptif" %>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 3 : Equipements & Conciergerie ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

<div id="page3-C" class="ml-16 flex mb-24">
  <%= render "shared/equipements" %>
</div>

<div id="page3-D" class="ml-16 flex mb-12">
  <%= render "shared/conciergerie" %>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 4 : Carousel Photos et Galerie ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

<div id="page4-1" class="mb-56">
  <h2 class= "ml-16 mt-24 mb-8"> Galerie Photos </h2>
  <%= render "shared/carousel-photos" %>
</div>


<div id="page4-2" class="flex mt-12">
  <%= render "shared/modal-salon-carousel" %>
  <%= render "shared/modal-balcony" %>
  <%= render "shared/modal-chambre" %>
  <%= render "shared/modal-salle-eau" %>
  <%= render "shared/modal-vue-chambre" %>
</div>
<div id="page4-2" class="flex mt-12">
  <%= render "shared/modal-salon" %>
  <%= render "shared/modal-sejour" %>
  <%= render "shared/modal-salle-manger" %>
  <%= render "shared/modal-bar" %>
  <%= render "shared/modal-kitchenbar" %>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 5 : Map, Infos et Contact ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

<div id="page5-1" class="mb-56 mt-24 flex">
  <div class="flex-auto">
    <%= render "shared/situation-accès" %>
<!-- ----------------------------------------------- -->
  </div class="flex-auto">
  <div id="btns">
    <div class="">
      <%= render "shared/btns-acces-1-2" %>
    </div>
    <div class="mt-32">
      <%= render "shared/btns-acces-3-4" %>
    </div>
    <div class="mt-32">
      <%= render "shared/btns-acces-5-6" %>
    </div>
  </div>
</div>

  <div id="choucas-map" class="border-4 border-black mt-8">
    <%= image_tag "MapChoucas.png", alt: "alttext" %>
  </div>
  <h2 id="find-us" class="border-2 border-black w-40 text-center
  rounded-full bg-white"> Carte </h2>

<!-- ----------------------------------------------- -->
  <!--  -->


<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 6 : Footer ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

<div id="page5-3">
  <%= render "shared/footer" %>
</div>






