<!-- 1 : WELCOME ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<div id="accueil">
  <%= render "shared/home-page" %>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 2 : Présentation & Descriptif ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<div class="container-c">

  <div class="mt-12">
    <div id="page2-A" class="flex pt-24">
      <%= render "shared/presentation" %>
    </div>
  </div>

  <div class="mt-12">
    <div id="page2-B" class="">
      <%= render "shared/descriptif" %>
    </div>
  </div>
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 3 : Equipements & Conciergerie ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
  <div class="mt-12">
    <div id="page3-D" class=" flex pt-24">
      <%= render "shared/conciergerie" %>
    </div>
  </div>

  <div class="mt-12">
    <div id="page3-C" class=" pt-24">
      <%= render "shared/equipements" %>
    </div>
  </div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 4 : Carousel Photos et Galerie ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->

  <div id="page4-1" class="pt-32">
    <h2 id="h2" class= "mb-8"> Galerie Photos </h2>
    <div class="">
      <%= render "shared/carousel" %>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 5 : Map, Infos et Contact ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<div class="container-c">
  <div id="page5">
          <div id="page5-1" class= "mb-14">

            <div class="flex pt-24">
              <div class="flex-1">
                <%= render "shared/situation-accès" %>
              </div>
              <div class="flex-1">
                <div id="choucas-map" class="border-4 border-black mt-8">
                  <%= image_tag "MapChoucas.png", alt: "alttext" %>
                </div>
              </div>
            </div>
</div>

<div class="container-c">
            <div id="btns" class="">
              <div class="flex justify-around">
                <%= render "shared/btns-acces-1-2" %>
              </div>
              <div class="mt-12 flex justify-around">
                <%= render "shared/btns-acces-3-4" %>
              </div>
            </div>
          </div>
  </div>
</div>

<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
<!-- 6 : Footer ! -->
<!-- ---------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------- -->
  <div class="mt-24">
    <%= render "shared/footer" %>
  </div>

</div>




